@{
    ViewData["Title"] = "Mr FixIt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model MrFixIt.Models.Job

<h2>Would you like to do this job?</h2>
<hr />

<form action="Claim" class="claim-job" id="@Model.JobId">
    <input type="hidden" name="jobId" value="@Model.JobId" />
    <input type="hidden" name="title" value="@Model.Title" />
    <input type="hidden" name="description" value="@Model.Description" />
    <input type="hidden" name="completed" value="@Model.Completed" />
    <input type="hidden" name="pending" value="@Model.Pending" />

    <h4>@Model.Title</h4>
    <button type="submit">Claim this job</button>


</form>



@*@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.JobId)
    @Html.HiddenFor(model => model.Title)
    @Html.HiddenFor(model => model.Description)

    <h4>@Model.Title</h4>
    <input type="submit" value="Claim This Job" />
}*@
@*<p>@Html.ActionLink("Back to list", "Index")</p>*@