@{
    ViewData["Title"] = "Mr FixIt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
    <ul>
        <li>@Job.Title</li>
        <ul>
            <li>@Job.Description</li>
        </ul>
        @*@if (Job.Worker == null)
        {
        <li class="btn">This job is unclaimed. @Html.ActionLink("Claim This Job", "Claim", new { @text = @Job.Title, id = Job.JobId })</li>
        }
        else
        {
            <li class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>

        }*@


        @if (Job.Worker == null)
        {
            <li class="btn">This job is unclaimed. <span class="claim" id="@Job.JobId">Claim this job</span></li>
            <div id="claim-result-@Job.JobId">

            </div>
        }
        else
        {
            <li class="btn">This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>

        }



        @if (Job.Pending == false)
        {
            <li class="btn">This job has not been started yet. <span class="activate" id="@Job.JobId">Activate this job</span></li>
            <p id="activate-result-@Job.JobId">
            </p>
        }
        else
        {
            <li class="btn">This job has been activated</li>

        }

        @if (Job.Completed == false)
        {
            <li class="btn">This job has not been completed yet. <span class="complete" id="@Job.JobId">Complete this job</span></li>
            <p id="complete-result-@Job.JobId">
            </p>
        }
        else
        {
            <li class="btn">This job has been completed</li>
        }
    </ul>


    <hr />
}

